arduino/node-red/flows.json
[
    {
        "id": "4eb00aa7fe93676d",
        "type": "tab",
        "label": "Geräte",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9fb92d1b4a932fb",
        "type": "tab",
        "label": "Sprenger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ba3455c58b89c1a0",
        "type": "tab",
        "label": "Flutlicht",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9241c20bc42d3e37",
        "type": "group",
        "z": "a9fb92d1b4a932fb",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "045d2f5ebced484b",
            "4bfad026dfbb5fda",
            "161491f69bd9f0bc",
            "4b3a4a32032406b1",
            "73f4cb948724d108",
            "9b5c1d4ab75f6d21"
        ],
        "x": 674,
        "y": 299,
        "w": 417,
        "h": 222
    },
    {
        "id": "66c755c689efd3a6",
        "type": "group",
        "z": "a9fb92d1b4a932fb",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ea11efe4f9290a1b",
            "f95e93ca62cd09bf",
            "cc14cf3ae842109f"
        ],
        "x": 1274,
        "y": 419,
        "w": 382,
        "h": 142
    },
    {
        "id": "67a97b1e13f032fa",
        "type": "group",
        "z": "a9fb92d1b4a932fb",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4f52df246add9608",
            "492e26aa3b507aaf",
            "aee84e2d7d034340",
            "7d90fb413534d750",
            "d0a1c65ba00adb9c",
            "5a3b11ea51c06a7b"
        ],
        "x": 674,
        "y": 819,
        "w": 412,
        "h": 222
    },
    {
        "id": "b30fdee85ef4213c",
        "type": "group",
        "z": "a9fb92d1b4a932fb",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "aa0e04c1254ce26c",
            "aaf478ea35832cbc",
            "96f7909ddffacb81",
            "a57b738b50be0375",
            "ea8e50df20fe2494",
            "67abf137d4ba6898"
        ],
        "x": 674,
        "y": 559,
        "w": 412,
        "h": 222
    },
    {
        "id": "081e94a5f61d65d8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5bdf636997f59325",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.178.2",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bbfc86507d76eec7",
        "type": "global-config",
        "name": "global-config",
        "env": [
            {
                "name": "TZ",
                "value": "Europe/Berlin",
                "type": "env"
            }
        ]
    },
    {
        "id": "2936b813.6cde68",
        "type": "ui_tab",
        "name": "Tennis",
        "icon": "fa-thermometer-empty ",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "aefc2b4692e2a1e1",
        "type": "ui_group",
        "name": "Geräte",
        "tab": "2936b813.6cde68",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ecfe237452d32ec6",
        "type": "ui_group",
        "name": "Sprenger",
        "tab": "2936b813.6cde68",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "582a1b332c7e62f2",
        "type": "ui_group",
        "name": "Flutlicht",
        "tab": "2936b813.6cde68",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": true,
        "className": ""
    },
    {
        "id": "7b590fa26824b92e",
        "type": "ui_tab",
        "name": "Konfiguration",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eee21aa75102caa5",
        "type": "ui_group",
        "name": "Zeitplan Geräte",
        "tab": "7b590fa26824b92e",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9e58624.7faaba",
        "type": "mqtt out",
        "z": "4eb00aa7fe93676d",
        "name": "Krelais",
        "topic": "tcs/cool/out",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bdf636997f59325",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "83cf37cf.c76988",
        "type": "ui_switch",
        "z": "4eb00aa7fe93676d",
        "name": "Konoff",
        "label": "Kühlbox",
        "tooltip": "",
        "group": "aefc2b4692e2a1e1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 810,
        "y": 220,
        "wires": [
            [
                "9e58624.7faaba",
                "d1707b8f5840123b"
            ]
        ],
        "inputLabels": [
            "in"
        ]
    },
    {
        "id": "9483b0c715b583bb",
        "type": "mqtt out",
        "z": "4eb00aa7fe93676d",
        "name": "Brelais",
        "topic": "tcs/boil/out",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bdf636997f59325",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "2376d0162f13c4b0",
        "type": "ui_switch",
        "z": "4eb00aa7fe93676d",
        "name": "Bonoff",
        "label": "Boiler",
        "tooltip": "",
        "group": "aefc2b4692e2a1e1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 810,
        "y": 340,
        "wires": [
            [
                "9483b0c715b583bb",
                "3e82d69637b0b76e"
            ]
        ]
    },
    {
        "id": "3e82d69637b0b76e",
        "type": "debug",
        "z": "4eb00aa7fe93676d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 400,
        "wires": []
    },
    {
        "id": "d1707b8f5840123b",
        "type": "debug",
        "z": "4eb00aa7fe93676d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 280,
        "wires": []
    },
    {
        "id": "86b196ba5a66c00f",
        "type": "file in",
        "z": "4eb00aa7fe93676d",
        "name": "ReadFile",
        "filename": "/home/pi/Documents/time-schedule0.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 400,
        "y": 220,
        "wires": [
            [
                "04dd8f1d89d7454a"
            ]
        ]
    },
    {
        "id": "c87a556f2620a313",
        "type": "inject",
        "z": "4eb00aa7fe93676d",
        "name": "FireAfterReboot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "86b196ba5a66c00f"
            ]
        ]
    },
    {
        "id": "4de8515e61752abd",
        "type": "file",
        "z": "4eb00aa7fe93676d",
        "name": "WriteFile",
        "filename": "/home/pi/Documents/time-schedule0.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 820,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "04dd8f1d89d7454a",
        "type": "ui_time_scheduler",
        "z": "4eb00aa7fe93676d",
        "group": "eee21aa75102caa5",
        "name": "schedule-Kühlung",
        "startDay": 0,
        "refresh": 60,
        "devices": [
            "Kühlbox",
            "Boiler"
        ],
        "singleOff": true,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 3,
        "order": 1,
        "width": "0",
        "height": "0",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "4de8515e61752abd"
            ],
            [
                "83cf37cf.c76988"
            ],
            [
                "2376d0162f13c4b0"
            ]
        ]
    },
    {
        "id": "eb554fbe4a5d9c28",
        "type": "ui_led",
        "z": "4eb00aa7fe93676d",
        "order": 2,
        "group": "aefc2b4692e2a1e1",
        "width": 0,
        "height": 0,
        "label": "Kühlung Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#f66151",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#808080",
                "value": "unknown",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "StatusCooler",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "19f39a2d8607456e",
        "type": "mqtt in",
        "z": "4eb00aa7fe93676d",
        "name": "MqttStatusCooler",
        "topic": "tcs/cool/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bdf636997f59325",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 440,
        "wires": [
            [
                "eb554fbe4a5d9c28",
                "49016baf0c4f5b1c"
            ]
        ]
    },
    {
        "id": "2f4be298c48bd832",
        "type": "mqtt in",
        "z": "4eb00aa7fe93676d",
        "name": "MqttStatusBoiler",
        "topic": "tcs/boil/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bdf636997f59325",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 320,
        "wires": [
            [
                "fb0b02b8def21a81",
                "79d6de95fa464456"
            ]
        ]
    },
    {
        "id": "79d6de95fa464456",
        "type": "ui_led",
        "z": "4eb00aa7fe93676d",
        "order": 4,
        "group": "aefc2b4692e2a1e1",
        "width": 0,
        "height": 0,
        "label": "Boiler Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#808080",
                "value": "unknown",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "StatusBoiler",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "fb0b02b8def21a81",
        "type": "trigger",
        "z": "4eb00aa7fe93676d",
        "name": "",
        "op1": "",
        "op2": "unknown",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2000",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 410,
        "y": 380,
        "wires": [
            [
                "79d6de95fa464456"
            ]
        ]
    },
    {
        "id": "49016baf0c4f5b1c",
        "type": "trigger",
        "z": "4eb00aa7fe93676d",
        "name": "triggerCooler",
        "op1": "",
        "op2": "unknown",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2000",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 500,
        "wires": [
            [
                "eb554fbe4a5d9c28"
            ]
        ]
    },
    {
        "id": "c898636cb95e2310",
        "type": "switch",
        "z": "a9fb92d1b4a932fb",
        "name": "SprinklerNumber",
        "property": "number",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 7,
        "x": 450,
        "y": 620,
        "wires": [
            [
                "045d2f5ebced484b",
                "4b3a4a32032406b1"
            ],
            [
                "a57b738b50be0375",
                "aa0e04c1254ce26c"
            ],
            [
                "4f52df246add9608",
                "7d90fb413534d750"
            ],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "47a55f87deea37fe",
        "type": "ui_switch",
        "z": "a9fb92d1b4a932fb",
        "name": "Sprinker3",
        "label": "Platz 3",
        "tooltip": "",
        "group": "ecfe237452d32ec6",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "tcs/sprink/switch/3",
        "topicType": "str",
        "style": "",
        "onvalue": "START",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "STOP",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "59b3909fb8dd4c29"
            ]
        ]
    },
    {
        "id": "4f52df246add9608",
        "type": "controltimer",
        "z": "a9fb92d1b4a932fb",
        "g": "67a97b1e13f032fa",
        "name": "Timer3",
        "timerType": "delay",
        "timerDurationUnit": "second",
        "timerDurationType": "num",
        "timerDuration": 5,
        "timerLoopTimeoutUnit": "second",
        "timerLoopTimeoutType": "num",
        "timerLoopTimeout": 1,
        "loopTimeoutMessageType": "str",
        "loopTimeoutMessage": "LOOP_TIMEOUT",
        "timerMaxLoopIterationsType": "num",
        "timerMaxLoopIterations": 0,
        "loopMaxIterationsMessageType": "str",
        "loopMaxIterationsMessage": "MAX_LOOP_ITERATIONS",
        "isRunningTimerProgressVisible": true,
        "outputReceivedMessageOnTimerTrigger": true,
        "outputReceivedMessageOnTimerHalt": false,
        "startTimerOnReceivalOfUnknownMessage": false,
        "resetTimerOnReceivalOfUnknownMessage": false,
        "resetTimerOnReceivalOfStartAction": true,
        "continueTimerOnReceivalOfStartAction": false,
        "isDebugModeEnabled": false,
        "timerTriggeredMessageType": "str",
        "timerTriggeredMessage": "TIMER_TRIGGERED",
        "timerHaltedMessageType": "str",
        "timerHaltedMessage": "TIMER_HALTED",
        "isStartActionEnabled": true,
        "isStopActionEnabled": true,
        "isResetActionEnabled": true,
        "isPauseActionEnabled": false,
        "isContinueActionEnabled": false,
        "actionPropertyNameType": "str",
        "actionPropertyName": "payload",
        "startActionNameType": "str",
        "startActionName": "START",
        "stopActionNameType": "str",
        "stopActionName": "STOP",
        "resetActionNameType": "str",
        "resetActionName": "RESET",
        "pauseActionNameType": "str",
        "pauseActionName": "PAUSE",
        "continueActionNameType": "str",
        "continueActionName": "CONTINUE",
        "x": 750,
        "y": 860,
        "wires": [
            [
                "d0a1c65ba00adb9c"
            ],
            []
        ]
    },
    {
        "id": "492e26aa3b507aaf",
        "type": "trigger",
        "z": "a9fb92d1b4a932fb",
        "g": "67a97b1e13f032fa",
        "name": "Retrigger3",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "STOP",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 950,
        "y": 940,
        "wires": [
            [
                "cc14cf3ae842109f"
            ]
        ]
    },
    {
        "id": "7af6e6e234052106",
        "type": "debug",
        "z": "a9fb92d1b4a932fb",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 240,
        "wires": []
    },
    {
        "id": "aee84e2d7d034340",
        "type": "delay",
        "z": "a9fb92d1b4a932fb",
        "g": "67a97b1e13f032fa",
        "name": "verz3",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 950,
        "y": 1000,
        "wires": [
            [
                "cc14cf3ae842109f"
            ]
        ]
    },
    {
        "id": "7d90fb413534d750",
        "type": "switch",
        "z": "a9fb92d1b4a932fb",
        "g": "67a97b1e13f032fa",
        "name": "Split3",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "START",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STOP",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 920,
        "wires": [
            [
                "492e26aa3b507aaf"
            ],
            [
                "492e26aa3b507aaf",
                "aee84e2d7d034340"
            ]
        ]
    },
    {
        "id": "a048a602a9f9571c",
        "type": "mqtt in",
        "z": "a9fb92d1b4a932fb",
        "name": "SprinklerIn",
        "topic": "tcs/sprink/in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bdf636997f59325",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "7af6e6e234052106",
                "59b3909fb8dd4c29"
            ]
        ]
    },
    {
        "id": "25381b49d0c92f7e",
        "type": "debug",
        "z": "a9fb92d1b4a932fb",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 240,
        "wires": []
    },
    {
        "id": "d0a1c65ba00adb9c",
        "type": "change",
        "z": "a9fb92d1b4a932fb",
        "g": "67a97b1e13f032fa",
        "name": "setStop3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 860,
        "wires": [
            [
                "5a3b11ea51c06a7b",
                "492e26aa3b507aaf",
                "aee84e2d7d034340"
            ]
        ]
    },
    {
        "id": "70a853b4d7a242d7",
        "type": "link in",
        "z": "a9fb92d1b4a932fb",
        "name": "link in switch3",
        "links": [
            "5a3b11ea51c06a7b"
        ],
        "x": 65,
        "y": 520,
        "wires": [
            [
                "47a55f87deea37fe"
            ]
        ]
    },
    {
        "id": "5a3b11ea51c06a7b",
        "type": "link out",
        "z": "a9fb92d1b4a932fb",
        "g": "67a97b1e13f032fa",
        "name": "link out switch3",
        "mode": "link",
        "links": [
            "70a853b4d7a242d7"
        ],
        "x": 1045,
        "y": 860,
        "wires": []
    },
    {
        "id": "59b3909fb8dd4c29",
        "type": "function",
        "z": "a9fb92d1b4a932fb",
        "name": "SprinkFunc",
        "func": "var msgOut = RED.util.cloneMessage(msg);\n\nmsgOut.timerType = 'delay'; // 'delay', 'loop'\nmsgOut.timerDurationUnit = 'second';\nmsgOut.retain = false;\n\nif (msg.topic === \"tcs/sprink/duration\") {\n\n    global.set(\"sprinklerDuration\", msg.payload);\n    return null;\n\n} else if (msg.topic === \"tcs/sprink/in\") {\n\n    msgOut.topic = \"tcs/sprink/out/\" + msg.payload.number;\n    msgOut.number = msg.payload.number;\n    msgOut.payload = msg.payload.action;\n    msgOut.timerDuration = msg.payload.dauer;\n    return msgOut;\n\n} else if (msg.topic === \"tcs/sprink/switch/1\") {\n    msgOut.topic = \"tcs/sprink/out/1\";\n    msgOut.number = 1;\n    msgOut.payload = msg.payload;\n    msgOut.timerDuration = global.get(\"sprinklerDuration\");\n    return msgOut;\n} else if (msg.topic === \"tcs/sprink/switch/2\") {\n    msgOut.topic = \"tcs/sprink/out/2\";\n    msgOut.number = 2;\n    msgOut.payload = msg.payload;\n    msgOut.timerDuration = global.get(\"sprinklerDuration\");;\n    return msgOut;\n} else if (msg.topic === \"tcs/sprink/switch/3\") {\n    msgOut.topic = \"tcs/sprink/out/3\";\n    msgOut.number = 3;\n    msgOut.payload = msg.payload;\n    msgOut.timerDuration = global.get(\"sprinklerDuration\");;\n    return msgOut;\n}\nreturn msgOut;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 320,
        "wires": [
            [
                "25381b49d0c92f7e",
                "c898636cb95e2310"
            ]
        ]
    },
    {
        "id": "045d2f5ebced484b",
        "type": "controltimer",
        "z": "a9fb92d1b4a932fb",
        "g": "9241c20bc42d3e37",
        "name": "Timer1",
        "timerType": "delay",
        "timerDurationUnit": "second",
        "timerDurationType": "num",
        "timerDuration": 5,
        "timerLoopTimeoutUnit": "second",
        "timerLoopTimeoutType": "num",
        "timerLoopTimeout": 1,
        "loopTimeoutMessageType": "str",
        "loopTimeoutMessage": "LOOP_TIMEOUT",
        "timerMaxLoopIterationsType": "num",
        "timerMaxLoopIterations": 0,
        "loopMaxIterationsMessageType": "str",
        "loopMaxIterationsMessage": "MAX_LOOP_ITERATIONS",
        "isRunningTimerProgressVisible": true,
        "outputReceivedMessageOnTimerTrigger": true,
        "outputReceivedMessageOnTimerHalt": false,
        "startTimerOnReceivalOfUnknownMessage": false,
        "resetTimerOnReceivalOfUnknownMessage": false,
        "resetTimerOnReceivalOfStartAction": true,
        "continueTimerOnReceivalOfStartAction": false,
        "isDebugModeEnabled": false,
        "timerTriggeredMessageType": "str",
        "timerTriggeredMessage": "TIMER_TRIGGERED",
        "timerHaltedMessageType": "str",
        "timerHaltedMessage": "TIMER_HALTED",
        "isStartActionEnabled": true,
        "isStopActionEnabled": true,
        "isResetActionEnabled": true,
        "isPauseActionEnabled": false,
        "isContinueActionEnabled": false,
        "actionPropertyNameType": "str",
        "actionPropertyName": "payload",
        "startActionNameType": "str",
        "startActionName": "START",
        "stopActionNameType": "str",
        "stopActionName": "STOP",
        "resetActionNameType": "str",
        "resetActionName": "RESET",
        "pauseActionNameType": "str",
        "pauseActionName": "PAUSE",
        "continueActionNameType": "str",
        "continueActionName": "CONTINUE",
        "x": 750,
        "y": 340,
        "wires": [
            [
                "73f4cb948724d108"
            ],
            []
        ]
    },
    {
        "id": "ea11efe4f9290a1b",
        "type": "debug",
        "z": "a9fb92d1b4a932fb",
        "g": "66c755c689efd3a6",
        "name": "debug s1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 460,
        "wires": []
    },
    {
        "id": "4bfad026dfbb5fda",
        "type": "trigger",
        "z": "a9fb92d1b4a932fb",
        "g": "9241c20bc42d3e37",
        "name": "Retrigger1",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "STOP",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 970,
        "y": 420,
        "wires": [
            [
                "cc14cf3ae842109f"
            ]
        ]
    },
    {
        "id": "f95e93ca62cd09bf",
        "type": "mqtt out",
        "z": "a9fb92d1b4a932fb",
        "g": "66c755c689efd3a6",
        "name": "SprinklerOut",
        "topic": "",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bdf636997f59325",
        "x": 1560,
        "y": 520,
        "wires": []
    },
    {
        "id": "161491f69bd9f0bc",
        "type": "delay",
        "z": "a9fb92d1b4a932fb",
        "g": "9241c20bc42d3e37",
        "name": "verz1",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 950,
        "y": 480,
        "wires": [
            [
                "cc14cf3ae842109f"
            ]
        ]
    },
    {
        "id": "4b3a4a32032406b1",
        "type": "switch",
        "z": "a9fb92d1b4a932fb",
        "g": "9241c20bc42d3e37",
        "name": "Split1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "START",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STOP",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 400,
        "wires": [
            [
                "4bfad026dfbb5fda"
            ],
            [
                "4bfad026dfbb5fda",
                "161491f69bd9f0bc"
            ]
        ]
    },
    {
        "id": "73f4cb948724d108",
        "type": "change",
        "z": "a9fb92d1b4a932fb",
        "g": "9241c20bc42d3e37",
        "name": "setStop1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 340,
        "wires": [
            [
                "9b5c1d4ab75f6d21",
                "4bfad026dfbb5fda",
                "161491f69bd9f0bc"
            ]
        ]
    },
    {
        "id": "9b5c1d4ab75f6d21",
        "type": "link out",
        "z": "a9fb92d1b4a932fb",
        "g": "9241c20bc42d3e37",
        "name": "link out switch1",
        "mode": "link",
        "links": [
            "ee22414abe7a6893"
        ],
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "cc14cf3ae842109f",
        "type": "change",
        "z": "a9fb92d1b4a932fb",
        "g": "66c755c689efd3a6",
        "name": "Out",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "START",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "STOP",
                "fromt": "str",
                "to": "false",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 460,
        "wires": [
            [
                "f95e93ca62cd09bf",
                "ea11efe4f9290a1b"
            ]
        ]
    },
    {
        "id": "1ce7c102fdc27036",
        "type": "ui_switch",
        "z": "a9fb92d1b4a932fb",
        "name": "Sprinkler1",
        "label": "Platz 1",
        "tooltip": "",
        "group": "ecfe237452d32ec6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "tcs/sprink/switch/1",
        "topicType": "str",
        "style": "",
        "onvalue": "START",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "STOP",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "59b3909fb8dd4c29"
            ]
        ]
    },
    {
        "id": "ee22414abe7a6893",
        "type": "link in",
        "z": "a9fb92d1b4a932fb",
        "name": "link in switch1",
        "links": [
            "9b5c1d4ab75f6d21"
        ],
        "x": 65,
        "y": 400,
        "wires": [
            [
                "1ce7c102fdc27036"
            ]
        ]
    },
    {
        "id": "aa0e04c1254ce26c",
        "type": "controltimer",
        "z": "a9fb92d1b4a932fb",
        "g": "b30fdee85ef4213c",
        "name": "Timer2",
        "timerType": "delay",
        "timerDurationUnit": "second",
        "timerDurationType": "num",
        "timerDuration": 5,
        "timerLoopTimeoutUnit": "second",
        "timerLoopTimeoutType": "num",
        "timerLoopTimeout": 1,
        "loopTimeoutMessageType": "str",
        "loopTimeoutMessage": "LOOP_TIMEOUT",
        "timerMaxLoopIterationsType": "num",
        "timerMaxLoopIterations": 0,
        "loopMaxIterationsMessageType": "str",
        "loopMaxIterationsMessage": "MAX_LOOP_ITERATIONS",
        "isRunningTimerProgressVisible": true,
        "outputReceivedMessageOnTimerTrigger": true,
        "outputReceivedMessageOnTimerHalt": false,
        "startTimerOnReceivalOfUnknownMessage": false,
        "resetTimerOnReceivalOfUnknownMessage": false,
        "resetTimerOnReceivalOfStartAction": true,
        "continueTimerOnReceivalOfStartAction": false,
        "isDebugModeEnabled": false,
        "timerTriggeredMessageType": "str",
        "timerTriggeredMessage": "TIMER_TRIGGERED",
        "timerHaltedMessageType": "str",
        "timerHaltedMessage": "TIMER_HALTED",
        "isStartActionEnabled": true,
        "isStopActionEnabled": true,
        "isResetActionEnabled": true,
        "isPauseActionEnabled": false,
        "isContinueActionEnabled": false,
        "actionPropertyNameType": "str",
        "actionPropertyName": "payload",
        "startActionNameType": "str",
        "startActionName": "START",
        "stopActionNameType": "str",
        "stopActionName": "STOP",
        "resetActionNameType": "str",
        "resetActionName": "RESET",
        "pauseActionNameType": "str",
        "pauseActionName": "PAUSE",
        "continueActionNameType": "str",
        "continueActionName": "CONTINUE",
        "x": 750,
        "y": 600,
        "wires": [
            [
                "ea8e50df20fe2494"
            ],
            []
        ]
    },
    {
        "id": "aaf478ea35832cbc",
        "type": "trigger",
        "z": "a9fb92d1b4a932fb",
        "g": "b30fdee85ef4213c",
        "name": "Retrigger2",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "STOP",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 950,
        "y": 680,
        "wires": [
            [
                "cc14cf3ae842109f"
            ]
        ]
    },
    {
        "id": "96f7909ddffacb81",
        "type": "delay",
        "z": "a9fb92d1b4a932fb",
        "g": "b30fdee85ef4213c",
        "name": "verz2",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 950,
        "y": 740,
        "wires": [
            [
                "cc14cf3ae842109f"
            ]
        ]
    },
    {
        "id": "a57b738b50be0375",
        "type": "switch",
        "z": "a9fb92d1b4a932fb",
        "g": "b30fdee85ef4213c",
        "name": "Split2",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "START",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STOP",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 660,
        "wires": [
            [
                "aaf478ea35832cbc"
            ],
            [
                "aaf478ea35832cbc",
                "96f7909ddffacb81"
            ]
        ]
    },
    {
        "id": "ea8e50df20fe2494",
        "type": "change",
        "z": "a9fb92d1b4a932fb",
        "g": "b30fdee85ef4213c",
        "name": "setStop2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 600,
        "wires": [
            [
                "67abf137d4ba6898",
                "aaf478ea35832cbc",
                "96f7909ddffacb81"
            ]
        ]
    },
    {
        "id": "67abf137d4ba6898",
        "type": "link out",
        "z": "a9fb92d1b4a932fb",
        "g": "b30fdee85ef4213c",
        "name": "link out switch2",
        "mode": "link",
        "links": [
            "4ec98f1f920c0197"
        ],
        "x": 1045,
        "y": 600,
        "wires": []
    },
    {
        "id": "64165a7d90bc0b1e",
        "type": "ui_switch",
        "z": "a9fb92d1b4a932fb",
        "name": "Sprinker2",
        "label": "Platz 2",
        "tooltip": "",
        "group": "ecfe237452d32ec6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "tcs/sprink/switch/2",
        "topicType": "str",
        "style": "",
        "onvalue": "START",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "STOP",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "59b3909fb8dd4c29"
            ]
        ]
    },
    {
        "id": "4ec98f1f920c0197",
        "type": "link in",
        "z": "a9fb92d1b4a932fb",
        "name": "link in switch2",
        "links": [
            "67abf137d4ba6898"
        ],
        "x": 65,
        "y": 460,
        "wires": [
            [
                "64165a7d90bc0b1e"
            ]
        ]
    },
    {
        "id": "86e727dc968351ed",
        "type": "ui_text_input",
        "z": "a9fb92d1b4a932fb",
        "name": "SprinklerDuration",
        "label": "Sprenger Dauer",
        "tooltip": "",
        "group": "ecfe237452d32ec6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "tcs/sprink/duration",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "1fdb6f32bd973d23",
                "59b3909fb8dd4c29"
            ]
        ]
    },
    {
        "id": "1fdb6f32bd973d23",
        "type": "debug",
        "z": "a9fb92d1b4a932fb",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "615ac56610cfecc9",
        "type": "ui_switch",
        "z": "ba3455c58b89c1a0",
        "name": "FloodLight",
        "label": "Platz 3 und 4",
        "tooltip": "",
        "group": "582a1b332c7e62f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "e9ddfb833697770e",
                "eabd01c99869229a"
            ]
        ]
    },
    {
        "id": "e9ddfb833697770e",
        "type": "mqtt out",
        "z": "ba3455c58b89c1a0",
        "name": "LightOut",
        "topic": "tcs/light/out",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5bdf636997f59325",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "eabd01c99869229a",
        "type": "debug",
        "z": "ba3455c58b89c1a0",
        "name": "licht",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "e97eedcc0d5b2d08",
        "type": "mqtt in",
        "z": "ba3455c58b89c1a0",
        "name": "LightIn",
        "topic": "tcs/light/in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5bdf636997f59325",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "615ac56610cfecc9"
            ]
        ]
    }
]