arduino/node-red/flows.json
[
    {
        "id": "4eb00aa7fe93676d",
        "type": "tab",
        "label": "Geräte",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "42ea56318411e126",
        "type": "tab",
        "label": "Analoguhr",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "442dce01f08d13f3",
        "type": "tab",
        "label": "Temperatur",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a51308d57e08755b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#ff0000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial Black,Arial Black,Gadget,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Analoguhr",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 10,
                "py": 10
            }
        }
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Analoguhr",
        "tab": "bd3f9a7ea5ff4df0",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8369d8a6231b708",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.178.34",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aefc2b4692e2a1e1",
        "type": "ui_group",
        "name": "Geräte",
        "tab": "2936b813.6cde68",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbfc86507d76eec7",
        "type": "global-config",
        "name": "global-config",
        "env": [
            {
                "name": "TZ",
                "value": "Europe/Berlin",
                "type": "env"
            }
        ]
    },
    {
        "id": "2936b813.6cde68",
        "type": "ui_tab",
        "name": "Geräte",
        "icon": "fa-thermometer-empty ",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bd3f9a7ea5ff4df0",
        "type": "ui_tab",
        "name": "Analoguhr",
        "icon": "fa-clock-o",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4783906ba7e7c4c6",
        "type": "ui_tab",
        "name": "Temp/Luftfeuch/Druck",
        "icon": "cloud_queue",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c0e108217f960c13",
        "type": "ui_group",
        "name": "Temp/Luftfeuch/Druck",
        "tab": "4783906ba7e7c4c6",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4f202950f862ea7",
        "type": "ui_spacer",
        "z": "442dce01f08d13f3",
        "name": "spacer",
        "group": "c0e108217f960c13",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "4b4e5ce42f928874",
        "type": "ui_spacer",
        "z": "442dce01f08d13f3",
        "name": "spacer",
        "group": "c0e108217f960c13",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "4539c619d8b42eb1",
        "type": "ui_spacer",
        "z": "442dce01f08d13f3",
        "name": "spacer",
        "group": "c0e108217f960c13",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "e861564ffe70096a",
        "type": "ui_spacer",
        "z": "442dce01f08d13f3",
        "name": "spacer",
        "group": "c0e108217f960c13",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "5a104fd4a8adf935",
        "type": "ui_spacer",
        "z": "442dce01f08d13f3",
        "name": "spacer",
        "group": "c0e108217f960c13",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "811d9b2a9b90e1db",
        "type": "ui_spacer",
        "z": "442dce01f08d13f3",
        "name": "spacer",
        "group": "c0e108217f960c13",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "9e58624.7faaba",
        "type": "mqtt out",
        "z": "4eb00aa7fe93676d",
        "name": "Krelais",
        "topic": "esp32/cool",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8369d8a6231b708",
        "x": 1150,
        "y": 220,
        "wires": []
    },
    {
        "id": "83cf37cf.c76988",
        "type": "ui_switch",
        "z": "4eb00aa7fe93676d",
        "name": "Konoff",
        "label": "Kühlbox",
        "tooltip": "",
        "group": "aefc2b4692e2a1e1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 970,
        "y": 220,
        "wires": [
            [
                "9e58624.7faaba",
                "d1707b8f5840123b"
            ]
        ],
        "inputLabels": [
            "in"
        ]
    },
    {
        "id": "9483b0c715b583bb",
        "type": "mqtt out",
        "z": "4eb00aa7fe93676d",
        "name": "Brelais",
        "topic": "esp32/boil",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8369d8a6231b708",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "2376d0162f13c4b0",
        "type": "ui_switch",
        "z": "4eb00aa7fe93676d",
        "name": "Bonoff",
        "label": "Boiler",
        "tooltip": "",
        "group": "aefc2b4692e2a1e1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 970,
        "y": 340,
        "wires": [
            [
                "9483b0c715b583bb",
                "3e82d69637b0b76e"
            ]
        ]
    },
    {
        "id": "3e82d69637b0b76e",
        "type": "debug",
        "z": "4eb00aa7fe93676d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 400,
        "wires": []
    },
    {
        "id": "d1707b8f5840123b",
        "type": "debug",
        "z": "4eb00aa7fe93676d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 280,
        "wires": []
    },
    {
        "id": "04dd8f1d89d7454a",
        "type": "ui_time_scheduler",
        "z": "4eb00aa7fe93676d",
        "group": "aefc2b4692e2a1e1",
        "name": "schedule-Kühlung",
        "startDay": 0,
        "refresh": 60,
        "devices": [
            "Kühlbox",
            "Boiler"
        ],
        "singleOff": true,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 3,
        "order": 3,
        "width": "10",
        "height": "4",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "4de8515e61752abd"
            ],
            [
                "74f2311ac610312d"
            ],
            [
                "2a8c728b35fa45b6"
            ]
        ]
    },
    {
        "id": "74f2311ac610312d",
        "type": "change",
        "z": "4eb00aa7fe93676d",
        "name": "sched0",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 220,
        "wires": [
            [
                "83cf37cf.c76988"
            ]
        ]
    },
    {
        "id": "86b196ba5a66c00f",
        "type": "file in",
        "z": "4eb00aa7fe93676d",
        "name": "ReadFile",
        "filename": "/home/pi/Documents/time-schedule0.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 400,
        "y": 220,
        "wires": [
            [
                "04dd8f1d89d7454a"
            ]
        ]
    },
    {
        "id": "c87a556f2620a313",
        "type": "inject",
        "z": "4eb00aa7fe93676d",
        "name": "FireAfterReboot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "86b196ba5a66c00f"
            ]
        ]
    },
    {
        "id": "4de8515e61752abd",
        "type": "file",
        "z": "4eb00aa7fe93676d",
        "name": "WriteFile",
        "filename": "/home/pi/Documents/time-schedule0.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 820,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2a8c728b35fa45b6",
        "type": "change",
        "z": "4eb00aa7fe93676d",
        "name": "sched1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 340,
        "wires": [
            [
                "2376d0162f13c4b0"
            ]
        ]
    },
    {
        "id": "aa70ef695cddc6f0",
        "type": "ui_button",
        "z": "42ea56318411e126",
        "name": "",
        "group": "61285987.c20328",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Einzelimpuls",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stepon",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 490,
        "y": 220,
        "wires": [
            [
                "9baabe809124f08a"
            ]
        ],
        "inputLabels": [
            "1"
        ]
    },
    {
        "id": "3e0937057dabb28a",
        "type": "debug",
        "z": "42ea56318411e126",
        "name": "debug single",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "9baabe809124f08a",
        "type": "trigger",
        "z": "42ea56318411e126",
        "name": "",
        "op1": "singon",
        "op2": "singoff",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 680,
        "y": 220,
        "wires": [
            [
                "1484bc2499203e69",
                "3e0937057dabb28a"
            ]
        ]
    },
    {
        "id": "573cc84a9d4ed79d",
        "type": "ui_switch",
        "z": "42ea56318411e126",
        "name": "Autostep",
        "label": "automatische Minuten Fortschaltung",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "autoOnOff",
        "topicType": "str",
        "style": "",
        "onvalue": "auton",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "autoff",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 520,
        "y": 480,
        "wires": [
            [
                "2796e1c171633b19",
                "d43eb555bc11f542",
                "1484bc2499203e69"
            ]
        ]
    },
    {
        "id": "1484bc2499203e69",
        "type": "mqtt out",
        "z": "42ea56318411e126",
        "name": "Analoguhr",
        "topic": "esp32/auhr",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8369d8a6231b708",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "25ec61ac25cfa520",
        "type": "ui_switch",
        "z": "42ea56318411e126",
        "name": "TimeImpStop",
        "label": "stopen des Zetimpulses",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "stopOnOff",
        "topicType": "str",
        "style": "",
        "onvalue": "stopon",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "stopoff",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 620,
        "wires": [
            [
                "1484bc2499203e69",
                "c0f34db01fc9f4ea"
            ]
        ]
    },
    {
        "id": "2796e1c171633b19",
        "type": "function",
        "z": "42ea56318411e126",
        "name": "function 1",
        "func": "if(msg.payload===\"auton\"){\n    msg.payload='stopon';\n}\nelse{\n    msg.payload=\"stopoff\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 620,
        "wires": [
            [
                "25ec61ac25cfa520"
            ]
        ]
    },
    {
        "id": "c0f34db01fc9f4ea",
        "type": "debug",
        "z": "42ea56318411e126",
        "name": "debug stop",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 620,
        "wires": []
    },
    {
        "id": "d43eb555bc11f542",
        "type": "debug",
        "z": "42ea56318411e126",
        "name": "debug auto",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 480,
        "wires": []
    },
    {
        "id": "ae49d3ad7882bb64",
        "type": "ui_form",
        "z": "42ea56318411e126",
        "name": "",
        "label": "Uhrzeit auf Analoguhr",
        "group": "61285987.c20328",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "",
                "value": "Analoguhr",
                "type": "time",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Analoguhr": ""
        },
        "payload": "",
        "submit": "OK",
        "cancel": "Abbr.",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 520,
        "y": 320,
        "wires": [
            [
                "237ba817e3a87c7b",
                "a711cc89bcf98c7d",
                "a1e920f66343eaa3"
            ]
        ]
    },
    {
        "id": "3abd7ace15e861c1",
        "type": "debug",
        "z": "42ea56318411e126",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "237ba817e3a87c7b",
        "type": "change",
        "z": "42ea56318411e126",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auton",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "573cc84a9d4ed79d"
            ]
        ]
    },
    {
        "id": "a711cc89bcf98c7d",
        "type": "debug",
        "z": "42ea56318411e126",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 400,
        "wires": []
    },
    {
        "id": "a1e920f66343eaa3",
        "type": "function",
        "z": "42ea56318411e126",
        "name": "function 2",
        "func": "let us = msg.payload.Analoguhr.indexOf(\"T\");\nlet h = msg.payload.Analoguhr.substring(us+1,us+3);\nlet m = msg.payload.Analoguhr.substring(us + 4, us + 6);\nvar hn = parseInt(h)+1;\nvar mn = parseInt(m);\nvar asum = hn*60 + mn;\nvar datum = new Date();\nvar th = datum.getHours();\nvar tm = datum.getMinutes();\nvar tsum = th*60 + tm;\nif(asum > tsum)\n{\n   var sum = 24*60-asum + tsum;\n}\nelse\n{\n    sum = tsum -asum;\n} \nlet strsum = sum.toString();\nmsg.payload=strsum;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 320,
        "wires": [
            [
                "3abd7ace15e861c1",
                "1484bc2499203e69"
            ]
        ]
    },
    {
        "id": "b56235a21553f059",
        "type": "mqtt in",
        "z": "42ea56318411e126",
        "name": "InAnaloguhr",
        "topic": "esp32/autostop",
        "qos": "1",
        "datatype": "utf8",
        "broker": "f8369d8a6231b708",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "543108e4214e608b",
                "b326b71d1e580590"
            ]
        ]
    },
    {
        "id": "543108e4214e608b",
        "type": "debug",
        "z": "42ea56318411e126",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 540,
        "wires": []
    },
    {
        "id": "b326b71d1e580590",
        "type": "function",
        "z": "42ea56318411e126",
        "name": "function 3",
        "func": "if (msg.payload === 'autoff') {\n    msg.payload = 'autoff';\n}\nelse {\n    msg.payload = \"\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 420,
        "wires": [
            [
                "573cc84a9d4ed79d"
            ]
        ]
    },
    {
        "id": "5a45b8da.52b0d8",
        "type": "mqtt in",
        "z": "442dce01f08d13f3",
        "name": "",
        "topic": "esp32/bme280/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f8369d8a6231b708",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 840,
        "y": 120,
        "wires": [
            [
                "3042e15e.80a4ee",
                "09ba17d54e78f84b"
            ]
        ]
    },
    {
        "id": "3042e15e.80a4ee",
        "type": "ui_gauge",
        "z": "442dce01f08d13f3",
        "name": "",
        "group": "c0e108217f960c13",
        "order": 1,
        "width": 12,
        "height": 7,
        "gtype": "gage",
        "title": "<font size = 3>Temperatur",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-20",
        "max": "45",
        "colors": [
            "#006eb3",
            "#f7df09",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 120,
        "wires": []
    },
    {
        "id": "8ff168f0.0c74a8",
        "type": "mqtt in",
        "z": "442dce01f08d13f3",
        "name": "",
        "topic": "esp32/bme280/humidity",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f8369d8a6231b708",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "29251f29.6687c",
                "4a0a4afa0e3c0580"
            ]
        ]
    },
    {
        "id": "29251f29.6687c",
        "type": "ui_gauge",
        "z": "442dce01f08d13f3",
        "name": "",
        "group": "c0e108217f960c13",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "<font size = 3>Luftfeuchtigkeit",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "120",
        "colors": [
            "#53a4e6",
            "#1d78a9",
            "#4e38c9"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1170,
        "y": 240,
        "wires": []
    },
    {
        "id": "681a1588.8506fc",
        "type": "mqtt in",
        "z": "442dce01f08d13f3",
        "name": "",
        "topic": "esp32/bme280/pressure",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "f8369d8a6231b708",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 830,
        "y": 360,
        "wires": [
            [
                "41164c6.e7b3cb4",
                "ce445bd646c4e75d"
            ]
        ]
    },
    {
        "id": "41164c6.e7b3cb4",
        "type": "ui_gauge",
        "z": "442dce01f08d13f3",
        "name": "",
        "group": "c0e108217f960c13",
        "order": 7,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "<font size = 3>Luftdruck",
        "label": "hPa",
        "format": "{{value}}",
        "min": "950",
        "max": "1060",
        "colors": [
            "#a346ff",
            "#bd45cb",
            "#7d007d"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 360,
        "wires": []
    },
    {
        "id": "09ba17d54e78f84b",
        "type": "debug",
        "z": "442dce01f08d13f3",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 60,
        "wires": []
    },
    {
        "id": "4a0a4afa0e3c0580",
        "type": "debug",
        "z": "442dce01f08d13f3",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 180,
        "wires": []
    },
    {
        "id": "ce445bd646c4e75d",
        "type": "debug",
        "z": "442dce01f08d13f3",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 300,
        "wires": []
    },
    {
        "id": "5ff9e673b44b352a",
        "type": "ui_switch",
        "z": "442dce01f08d13f3",
        "name": "Tonoff",
        "label": "Test",
        "tooltip": "",
        "group": "c0e108217f960c13",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 910,
        "y": 480,
        "wires": [
            [
                "0cf9b0925c489abb",
                "2ec309ce0e417ac9"
            ]
        ]
    },
    {
        "id": "0cf9b0925c489abb",
        "type": "debug",
        "z": "442dce01f08d13f3",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 520,
        "wires": []
    },
    {
        "id": "2ec309ce0e417ac9",
        "type": "mqtt out",
        "z": "442dce01f08d13f3",
        "name": "Trelais",
        "topic": "esp32/temp/test",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8369d8a6231b708",
        "x": 1090,
        "y": 460,
        "wires": []
    },
    {
        "id": "41af657b76d4cb83",
        "type": "ui_time_scheduler",
        "z": "442dce01f08d13f3",
        "group": "c0e108217f960c13",
        "name": "scheduleTemp",
        "startDay": 0,
        "refresh": 60,
        "devices": [
            "OnOff"
        ],
        "singleOff": true,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": false,
        "eventOptions": [],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "",
        "outputs": 2,
        "order": 8,
        "width": 6,
        "height": 1,
        "x": 540,
        "y": 480,
        "wires": [
            [
                "c908e3d53154cbcc"
            ],
            [
                "a46503b7c0558bb1"
            ]
        ]
    },
    {
        "id": "a46503b7c0558bb1",
        "type": "change",
        "z": "442dce01f08d13f3",
        "name": "sched-temp",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "on",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 480,
        "wires": [
            [
                "5ff9e673b44b352a"
            ]
        ]
    },
    {
        "id": "c908e3d53154cbcc",
        "type": "file",
        "z": "442dce01f08d13f3",
        "name": "WriteFile",
        "filename": "/home/pi/Documents/time-schedule1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "dd595bc32f861099",
        "type": "file in",
        "z": "442dce01f08d13f3",
        "name": "ReadFile",
        "filename": "/home/pi/Documents/time-schedule1.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 360,
        "y": 480,
        "wires": [
            [
                "41af657b76d4cb83"
            ]
        ]
    },
    {
        "id": "94669d08fff0ecc8",
        "type": "inject",
        "z": "442dce01f08d13f3",
        "name": "FireAfterReboot",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "dd595bc32f861099"
            ]
        ]
    }
]